/* General Styles */
img, embed, 
object, video {                              
max-width: 100%; 
}  

.body1 {
    background-color: #7a3411;
    overflow: hidden;
   

}
.image-1{
    position:relative;
    margin-top: -50px;
    margin-left:130px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    
    z-index:1;
    animation: pop .1s ease forwards;
    animation-delay: 0s;
    transform-origin: center center;
    
}
.image-2{
    position:absolute;
    margin-top:-500px;
    margin-left:-150px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    z-index:2;
    animation: pop .1s ease forwards;
    animation-delay:0.2s;
    transform-origin: center center;
}
.image-3{
    position:absolute;
    margin-top:60px;
    margin-left:200px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    z-index:2;
    animation: pop .1s ease forwards;
    animation-delay:.4s;
    transform-origin: center center;
}
.image-4{
    position:absolute;
    margin-top:-500px;
    margin-left:100px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    z-index:-1;
    animation: pop .1s ease forwards;
    animation-delay:.6s;
    transform-origin: center center;
}
.image-5{
    position:absolute;
    margin-top:-600px;
    margin-left:800px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);

    opacity:0;
    z-index:1;
    animation: pop .1s ease forwards;
    animation-delay:.8s;
    transform-origin: center center;
}
.image-6{
    
    position:absolute;
    margin-top:-290px;
    margin-left:1100px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    z-index:1;
    animation: pop .1s ease forwards;
    animation-delay:1s;
    transform-origin: center center;
}
.image-7{
    position:absolute;
    
    margin-top:-450px;
    margin-left:-250px;
   
    opacity:0;
    z-index:2;
    animation: pop .1s ease forwards;
    animation-delay:1.2s;
    transform-origin: center center;
}
.image-8{
    position:absolute;
    margin-top:-450px;
    margin-left:700px;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    opacity:0;
    z-index:2;
    animation: pop .1s ease forwards;
    animation-delay:1.4s;
    transform-origin: center center;


}
.image-9{
    position:absolute;
    margin-top:-500px;
    margin-left:600px;
    opacity:0;
    z-index:2;
    
    animation: pop .1s ease forwards;
    animation-delay:1.6s;
    transform-origin: center center;
}
.image-10{
    position:absolute;
    margin-top:100px;
    margin-left:700px;
    opacity:0;
    z-index:2;
    box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    animation: pop .1s ease forwards;
    animation-delay:1.8s;
    transform-origin: center center;
}
.image-11{
    position:absolute;
    margin-top:-300px;
    margin-left:-300px;
    opacity:0;
    z-index:1;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
    animation: pop .1s ease forwards;
    animation-delay:2s;
    transform-origin: center center;
}
.image-12{
    position:absolute;
    margin-top:-10px;
    margin-left:900px;
    opacity:0;
    z-index:1;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
    animation: pop .1s ease forwards;
    animation-delay:2.2s;
    transform-origin: center center;
}
.image-13{
    position:relative;
    margin-top:-350px;
    margin-left:300px;
   box-shadow:0px 0px 18px rgba(0, 0, 0, 0.45);
    z-index:5;
    opacity:0;
    
    animation: pop .1s ease forwards;
    animation-delay:2.6s;
    transform-origin: center center;
}




@keyframes pop{
    from{
        opacity:0;
    }
    to{
        opacity:1;
        
    }
}

header {
   
    text-align: left;
    padding: 10px;
    z-index:20;
    position: relative;
}



/* hero Section */
#hero {
    font-family: "Spectral", serif;
    color:#E0DAC4;
    padding: 50px 20px;
    text-align: left;   
     max-width: 1200px; 
     margin: 0 auto;
    
   
  
}


#hero h1 {
    position: absolute;
    font-family: "bulletin-typewriter-mn", sans-serif;
font-weight: 20;
font-style: normal;
    font-size: 15px; 
    color:white; 
    left:37.5%;
    top:35%;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
    border-right: 8px solid transparent;
    
 
    z-index: 10;
    overflow: hidden;
    width:0;
    max-width:max-content;
    animation: typing 8s steps(40,end) 3s forwards,
     blink .75s step-end 2.6s infinite alternate;

}
/*fix space between these two for smaller screens*/
/*update!! i tried but im giving up :)))*/

@keyframes typing {
    from {
        width: 0; /* Start with no visible text */
    }
    to {
        width: 100%; /* Reveal the entire text */
    }
}
@keyframes blink {
    0% {
        border-right-color: #E0DAC4; /* Visible color */
    }
    50% {
        border-right-color: transparent; /* Hide cursor */
    }
    100% {
        border-right-color: #E0DAC4; /* Show cursor again */
    }
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: left;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    font-family: "Spectral", serif;
    font-weight: light; 
    color: #9B9859;
    text-decoration: none; 
    font-size: 16px;
}


header nav ul li a:hover {
    color:#E0DAC4;
    cursor:pointer;
}


/*@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column; 
    }

    .content-wrapper img {
        width: 100%; 
    }

    .content-wrapper p {
        max-width: 100%;
    }

    #vintage-layout h1 {
        font-size: 3rem; 
    }
}*/

.body2 {
    background-color:#7a3411;
    margin: 0;
    padding: 100px;
    overflow-y: auto; /* Enable vertical scrolling */
}


.postcard-link {
    text-decoration: none; 
    
}




.postcards li {
    
   
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    z-index:1;
    position: relative;
    list-style-type:none;
}

.stamp {
    position: absolute;  
    top: -130px;          
    right: -110px;         
    width: 300px;       
    height: auto;        
    z-index: 2;          
    
}
.postcard-1 {
    background-color: #E0DAC4; 
  height:300px;
  width: 500px;
  top: -90px;
  left: 800px;

}

.postcard-2 {
    background-color: #cabfa1;
    height:300px;
  width: 500px;
  top:-60px;
  left: 600px;
   
}

.postcard-3 {
    background-color: #E0DAC4; 
    height:300px;
    width: 500px;
    top:-500px;
    left: 200px;
}
.postcard-4 {
    background-color:#cabfa1 ; 
    height:300px;
    width: 500px;
    top:-1000px;
    left: -10px;
}
.postcard-5 {
    background-color: #E0DAC4; 
    height:300px;
    width: 500px;
    top:-800px;
    left: 400px;
}
.postcard-6 {
    background-color: #cabfa1; 
    height:300px;
    width: 500px;
    top:-1050px;
    left: 800px;
}
.postcard-7 {
    background-color: #E0DAC4; 
    height:300px;
    width: 500px;
    top:-1600px;
    left: -100px;
}
.postcard-8 {
    background-color: #cabfa1; 
    height:300px;
    width: 500px;
    top:-1670px;
    left: 20px;
}
.postcard-9 {
    background-color: #E0DAC4; 
    height:300px;
    width: 500px;
    top:-2400px;
    left: 500px;
}
.postcard-10{
    background-color: #cabfa1; 
    height:300px;
    width: 500px;
    top:-2500px;
    left:900px;
}
.postcard-11{
    background-color: #E0DAC4; 
    height:300px;
    width: 500px;
    top:-2650px;
    left: -120px;
}
.postcard-12{
    background-color: #cabfa1; 
    height:300px;
    width: 500px;
    top:-3000px;
    left: 70px;
}

/*
.postcards li:hover {
    transform: scale(1)  ; 
    transition: transform 0.5s ease-in-out; 
    z-index: 2;
}*/



.postcards h3 {
    position:absolute;
    font-family: "spectral";
font-weight: 600;
font-style: normal;
    color: #3F4122;
    top:5px;
    left : 20px;
   
    font-size: 1.5rem;
    width: 40%;
    position: relative;
    transform-origin: left; /* keep the heading anchored to the left */
}
.postcards h3::after {
    content: '';
    position: absolute;
    top: 0px;
    right: -130px; 
    width: 1px;
    height: 100px; 
    background-color: #B8390E; 
}
.postcards p {
    font-family: "spectral";
font-weight: 400;
font-style: normal;
    font-size: 0.6rem;
    color: #353E5B;
  bottom:10px;
    max-width: 800px;
    margin: 100px 50px 10px 100px;
    position: absolute;
    
}
/*.postcards li:hover h3, .postcards li:hover p {
    font-size: 1.8rem; 
    transform: scale(1); 
    transition: font-size 0.2s ease-in-out;
}*/
.postcards li:hover {
    animation:fun-pop 0.8s ease-in-out forwards ;
    border: 4px dashed #7a3411;
    z-index:5;
    cursor:pointer;
}
@keyframes fun-pop {
    0% {
        transform: scale(1) rotate(0deg);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        background-color: #E0DAC4;
    }
    30% {
        transform: scale(1.08) rotate(1deg);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        background-color:#C0BB95 ; /* Subtle color change */
    }
    60% {
        transform: scale(1.02) rotate(2deg);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }
    100% {
        transform: scale(1.08) rotate(0deg);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
        background-color: #E0DAC4;
    }}

.body3{
    background-color: #7a3411;
   
    background-size: cover;
    background-blend-mode:multiply;
    
    padding: 10px;
    margin-left:20px;
}

.resources {
    list-style-type:disc;
color:#E0DAC4;

}
ul.resources  {
  
    gap: 20px; }

ul.resources  li{
    padding: 10px;
    margin-top: 10px;
    gap:100px;
    font-family: "Spectral", serif;
    font-weight: 250;
    font-size: 1.00rem;
    font-style: normal;
    color:#E0DAC4;
    text-align: left;
    text-transform: lowercase;
}

.resources a {
    color: #E0DAC4; /* Beige color for the links */
    text-decoration: none; /* Remove underline */
    font-weight: inherit; /* Inherit weight from surrounding text */
}

.resources a:hover {
    color: #9B9859; /* Green color on hover */
    text-decoration: none; /* Ensure underline doesn't appear on hover */
}
.resources h3{
    font-family: "Spectral", serif;
    font-size: 1.05rem;
    font-weight: 300;
    font-style: italic;
    color:#E0DAC4;
    text-align: left;
    text-transform: lowercase;
}

.resources p{
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 1.00rem;
    font-style: normal;
    color:#E0DAC4;
    text-align: left;
    text-transform: lowercase;
}
.hover-image {
    display: none;
    position: absolute;
    top: 10px;  /* Adjust for position relative to the title */
    left: 800px; /* Adjust for horizontal positioning */
    width: 400px; /* Adjust image size */
    z-index: 10;
   
}

/* Show the image when h3 is hovered */
.resources h3:hover + .hover-image {
    display: block;
    animation: pop .1s ease forwards;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body4 {
    font-family: 'Spectral', serif;
    background-color: #7a3411;
    color:#C0BB95;
    line-height: 1.6;
    font-size:0.8rem;
   

}



.image img {
    transform:scale(1.7);
    max-width: 300px;

    
    margin-left:1050px;
}

.about-content h1 {
    
    margin-top: 50px;
    margin-left:50px;
    font-size: 10rem;
    
    max-width:5000px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
   
}
.about-content h2{
    margin-top: 50px;
    margin-left:950px;
    font-size: 1.2rem;
    max-width:200px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
    
}
.about-content h3{
    margin-top: 50px;
    margin-left:950px;
    font-size: .8rem;
    max-width:500px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
   
}
.about-content h4{
    margin-top: 160px;
    margin-left:950px;
    font-size: .8rem;
    max-width:500px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
}
.about-content h5{
    margin-top: 50px;
    margin-left:950px;
    font-size: .8rem;
    max-width:500px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
}
.about-content h6{
    margin-top: 50px;
    margin-left:950px;
    font-size: .8rem;
    max-width:500px;
    font-weight:100;
    margin-bottom: 20px;
    color: #C0BB95;
}




@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    
    .image {
        margin-top: 20px;
    }
}

/* Container for the entire section */
.body6 {
    overflow: hidden;
    background-color:#E0DAC4;
    width: 1103px;
    height: 816px;
    position: absolute;
  }
  
  /* Navigation bar styles */
  .nav-links {
    color: #9B9859;
    width: 535px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 38px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: left;
  }
  
  /* Carousel controls */
  .carousel-control {
    color: #9B9859;
    font-family: 'spectral', serif;
    font-size: 16px;
  }
  
  .previous {
    width: 135px;
    height: 30px;
    position: absolute;
    left: 40px;
    top: 108px;
  }
  
  .next {
    width: 160px;
    height: 30px;
    position: absolute;
    left: 1450px;
    top: 108px;
  }
  
  a.control {
    text-decoration: none;  /* Removes the underline */
    color: #9B9859;         /* Inherits the text color from the parent element */
}

a.control:hover {
    color:#B8390E;            /* Changes text color to red on hover */
    text-decoration: none; /* Ensures no underline appears on hover */
}

@keyframes slideIn {
    0% {
        top: -1000px; 
    }
    100% {
        top: -10px; 
        
    }
}
.headline {
    color: #7a3411;
    width: 524px;
    height: 134px;
    position: absolute;
    left: 800px;
    right:30px;
    top: 356px;
    font-family: 'Spectral', serif;
    font-size: 38px;
    text-align: left;
    text-transform: lowercase;
  }
  
  /* Paragraph text */
  .description {
    color:#7a3411;
    width: 491px;
    height: 177px;
    position: absolute;
    left: 800px;
    right:25px;
    top: 525px;
    font-family: 'Spectral', serif;
    font-size: 12px;
    text-align: left;
  }
  
  img {
    display: block;

    max-width: 45%;
    height: auto;
    margin: 150px 50px 50px 5px;
    object-fit: contain;
    margin-left: 0;
    margin-right: auto;
    animation: fadeIn 2s ease-in forwards;
    
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:100%
    }
}
  .body7{
    background-color:#7a3411;

  }
  .submit-button {
    background-color: #353E5B; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    font-size: 1rem;
    margin-top: 20px;
    margin-left:200px;
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.submit-button:hover {
    background-color:#9B9859; /* Change color on hover */
}
form {
    max-width: 600px; /* Set a max width for the form */
    margin: 50px 500px; /* Center the form on the page */
    padding: 20px; /* Add some padding around the form */
    background-color: #F3E1C0; /* Light background color for the form */
    border-radius: 10px; /* Rounded corners for the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

/* Styles for Input Fields */
input, textarea {
    width: 100%; /* Make inputs take full width */
    padding: 10px; /* Padding for input fields */
    margin: 10px 0; /* Margin for spacing between fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Font size for readability */
    transition: border-color 0.3s ease; /* Transition effect for border color */
}

/* Input Fields on Focus */
input:focus, textarea:focus {
    border-color: #353E5B; /* Change border color on focus */
    outline: none; /* Remove default outline */
}




.end h1{
    text-align: center; /* Centers the text and button */
    margin-top: 200px; /* Adds space above the section */
    color:#C0BB95;
    font-weight: 100;
    opacity: 0;    animation: fadeIn 3s ease forwards;    animation-delay: 0.1s;
}
